// colors

$color-1: #2b334f; // Pickled Bluewood
$color-2: #2e5367; // San Juan
$color-3: #267481; // Lochinvar
$color-4: #fcb052; // Texas Rose
$color-5: #f06a59; // Burnt Sienna
$color-6: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;